.container {
  width: 85%;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 750ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}
