.container {
  margin: 50px 0;
}

.numberCases {
  margin: 10px 0 !important;
}

.card {
  margin: 0 2% !important;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.progressbar {
  margin-top: 50px;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5) !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5) !important;
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5) !important;
}

@media screen and (max-width: 770px) {
  .card {
    margin: 10px 2% !important;
  }
}
