.container {
  margin: 50px 0;
}

.numberCases {
  margin: 10px 0 !important;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5) !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5) !important;
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5) !important;
}

@media screen and (max-width: 770px) {
  .card {
    margin: 10px 2% !important;
  }
}
